.father {
    background: burlywood;
}

.flex {
    display: flex;

    color: honeydew;
    padding: 5px;
}

.users {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.wrap {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    border: dashed 3px rosybrown;
    margin: 5px;
    padding: 10px;
}

.post {
    background: lightgray;
    border-radius: 15px;
    padding: 7px;
    color: #ce6262;
}

.details {
    width: 50%;
    height: 200px;
    font-family: "Bodoni Bd BT", serif;
    text-align:left;
    font-size:revert;
    background: #a79ce8;
    color: aqua;
    border-radius: 20px;
    padding: 7px;

}
button{
    width: 85px;
    height: 33px;
    color: lightgray;
    background: #ce6262;
    border: #a79ce8;
    border-radius: 30px;
    margin: 15px;
}
